<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyX3wqGLHw4OFCry_xbq7ji8b1Mh2e6z0</string>
	<key>GCM_SENDER_ID</key>
	<string>438858749788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EPRA.CIPA</string>
	<key>PROJECT_ID</key>
	<string>cipa-d3fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>cipa-d3fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438858749788:ios:9952c6c955876d1c79d399</string>
	<key>DATABASE_URL</key>
	<string>https://cipa-d3fcb-default-rtdb.firebaseio.com</string>
</dict>
</plist>